<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>صفحه لاگین</title>
</head>

<body>

  <div class="theme-toggle">
    <button id="modeBtn" onclick="toggleTheme()">light</button>
  </div>

  <div class="login_container">
    <form method="post">
      <h1>ورود</h1>
      <input type="text" name="login_name" placeholder="نام کاربری">
      <button class="login_button" type="submit" value="submit">ورود</button>
    </form>
  </div>

</body>

</html>
